@font-face {
  font-family: Tibeba;
  src: url(./static/fonts/TIBEBA__.TTF);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 5em;
  font-family: Tibeba;
}

.App-intro {
  font-size: large;
}

.Letter_holder {
  display: inline-block;
  width: 4.5vw;
  border-bottom: 2px solid black;
  font-size: 10vw;
  color: #222;
  margin: 10px;
  font-family: Tibeba;
}

/* .Letter {
  visibility: hidden;
} */

/* .Hangman {
  visibility: hidden;
} */

.wordHolder {
  visibility: block;
}

button {
  margin: 10px;
}

.definition {
  font-family: 'Courier New', Courier, monospace;
  color: #222;
}
